*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #162643;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Analog-clock{
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background-image: url(./clock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hour,.minut,.second{
    position: absolute;
    border-radius: 20px;
    transform-origin: bottom;
    background-color: #142647;
}

.hour{
    width: 2.2%;
    height: 25%;
    top: 25.5%;
    left: calc(50% - 4px);
}
.minut{
    width: 1.6%;
    height: 30%;
    top: 20%;
    left: calc(50% - 3px);
}
.second{
    width: 0.8%;
    height: 37%;
    top: 13.5%;
    left: calc(50% - 2px);
}

.Analog-clock::before {
    position: absolute;
    top: 49.8%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: black;
    content: '';
}

.url a {
    text-decoration: none;
}

.Digital-clock{
    position: absolute;
    bottom: 8%;
    font-size: 60px;
    color: #17d4fe;
}